html {
max-width: 95%;
}

.topnav {
  overflow: hidden;
  background-color: #FF0000;
  margin-left: 4%;
}

.topnav a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #FFFFFF;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-size: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #000000;
  color: #FFFFFF;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

  .text {
    padding-top: 5%;
    max-width: 65%;
    color: #000000;
    font-size: 20px;
    text-align: left;
    margin-left: 4%;
  }

  .summary {
    text-align: left;
  }

  h1 {
    color: #000000;
    font-size:25px;
    font-family: Arial;
    text-align: center;
    margin-left: 4%;
  }

  body {
    background-color: white;
  }

  .chatbot {
    width: 30%;
    height: auto;
    float: right;
    padding-top: 5%;
  }

  .metanav {
    float: right;
    color: #000000;
    font-size: 20px;
  }

  h2 {
    color:#FF0000;
    display: inline;
    position: absolute; left:190px; bottom:690px;
    font-size: 65px;
    font-family: Arial;
    margin-left: 4%;
  }

  .button {
    color: #FF0000;
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    font-size: 30px;
    max-width: 200px;
    margin-left: 47%;
  }

.logo {
    padding-bottom:15px;
    margin-left: 4%;
  }

  .intro {
    color: #000000;
    margin-top: 2%;
    margin-left: 4%;
    border: solid;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    width: 96%;
  }

  .all {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 95%;
    margin-left: 4%;
    list-style-type: none;
    display: grid;
    border-style: solid;
    border-color: #000000;
    border-radius: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    z-index: 2;
    margin-top: 20px;
    padding-left: 10px;
    }

    .container {
      position: relative;
      width: 50%;
    }
    
    .books {
      opacity: 1;
      display: block;
      width: 150%;
      height: auto;
      padding-left: 20%;
      transition: .5s ease;
      backface-visibility: hidden;
      padding-bottom: 50px;
      padding-top: 50px;
    }
    
    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 95%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .container:hover .books {
      opacity: 0.3;
    }
    
    .container:hover .middle {
      opacity: 1;
    }
    
    .texts {
      background-color: #FF0000;
      color: white;
      font-size: 20px;
      padding: 15px 40px; 
    }

  
   




  
 
