html{
  font-family: 'Avenir';
}

.logo {
    padding-bottom:15px;
    margin-left: 4%;
  }

.topnav {
  overflow: hidden;
  background-color: #FF0000;
  margin-top: 1%;
  width: 100%;
  padding-left: 3%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav .search-container {
  float: left;
  padding-left: 40%;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 20px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 20px;
  border:none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #000000;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
}

.aanbevolen {
    padding-left: 4%;
}

.btn1 {
    border:none;
    outline:none;
    padding: 12px 16px;
    background-color: #FF0000;
    color: #FFFFFF;
    border-radius: 10px;
    margin-left: 4%;
    margin-bottom: 2%;
    font-size: 16px;
    }
    
.btn {
      border-radius: 10px;
      outline: none;
      padding: 12px 16px;
      background-color: #f1f1f1;
      color: #000000;
      font-size: 15px;
    }
    
.btn:hover {
      background-color: #ddd;
    }

.row {
    display: flex;
    flex-wrap: wrap;
}

  .column {
    float: left;
    width: 20%;
    padding: 10px;
    padding-left: 4%;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .button {
    border: none;
    font-size: 15px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #FF0000;
  }
  
  .main {
    color: #000000;
    margin-left: 43%;
    font-size: 35px;
    font-weight: bold;
  }

  .row2 {
    margin-left: 13%;
  }

  .column2 {
    float: left;
    padding: 20px;
    width: auto;
  }

  .column2 {
    position: relative;
    width: 15%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .column2:hover .image {
    opacity: 0.3;
  }
  
  .column2:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #FF0000;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
 
  .bg-footer {
    background-color: #000000;
    margin-top: 30%;
    font-size: 30px;
    width: 100%;
}

.footer-heading {
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-left: 260px;
}

.footer-link a {
    color: #FFFFFF;
    line-height: 30px;
    font-size: 20px;
    transition: all 0.5s;
    padding-left: 220px;
    text-align: center;
}

.footer-link a:hover {
    color: #FF0000;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FF0000;
    position: relative;
    display: block;
}
